body {
  background-color: #faeee7;
}

.card-text:first-letter {
  text-transform: capitalize;
}

.card-body {
  text-align: center;
}


#app {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 50px;
  margin: 50px;
  }

.btn-outline-danger {
  width: 100%;
}

.filterButtons {
 display: flex;
 justify-content: space-evenly; 
 margin: 20px 0;
}
